/* APP'S STYLE */

/* Definitions - aligning text: centered */
.App {
  text-align: center;
}

/* Definitions - app's logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Definitions - responsive style */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Definitions - app's header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Definitions - app's url links */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}